<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.refusemanager_zty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RefuseManagerZTY">
        <activity
            android:name=".always"
            android:exported="true" />
        <activity
            android:name=".RecycleAdapterDome"
            android:exported="true" />
        <activity
            android:name=".other"
            android:exported="true" />
        <activity
            android:name=".hazardous"
            android:exported="true" />
        <activity
            android:name=".recycleable"
            android:exported="true" />
        <activity
            android:name=".household"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>